<ion-card *ngFor="let post of posts">
  <!-- Encabezado: Foto de perfil + Nombre de usuario + Verificación + Ubicación/Música -->
  <ion-item>
    <ion-avatar slot="start">
      <img [src]="post.userProfilePic" alt="Profile Picture">
    </ion-avatar>
    <ion-label>
      <h2>
        {{ post.username }}
       <img
          *ngIf="post.verified"
          src="assets/verificacion.png"
          alt="Verified"
          class="verified-icon"
          
        />
      </h2>
      <div><p>{{ post.location || post.music }}</p></div>
    </ion-label>
  </ion-item>

  <!-- Carrusel de imágenes/videos -->
<ng-container *ngIf="post.media.length > 0">
    <img *ngIf="post.media[0].type === 'image'" [src]="post.media[0].url" alt="Post Image">
    <video *ngIf="post.media[0].type === 'video'" controls>
      <source [src]="post.media[0].url" type="video/mp4">
    </video>
  </ng-container>
 
  <!-- Footer: Acciones y Descripción -->
<ion-row class="actions">
  <!-- Botón de Like con la cantidad de likes -->
  <ion-button fill="clear">
    <img src="assets/Like.svg" alt="Like" class="custom-icon">
    <span>{{ post.likes }}</span>
  </ion-button>

  <!-- Botón de Comment con la cantidad de comentarios -->
  <ion-button fill="clear">
    <img src="assets/Comment.svg" alt="Comment" class="custom-icon">
    <span>{{ post.comments.length }}</span>
  </ion-button>

  <!-- Botón de Share -->
  <ion-button fill="clear">
    <img src="assets/Share.svg" alt="Share" class="custom-icon">
  </ion-button>

  <!-- Botón de Save -->
  <ion-button fill="clear" class="save-btn">
    <img src="assets/Bookmark.svg" alt="Save" class="custom-icon">
  </ion-button>
</ion-row>
  <p class="footer"><strong>{{ post.likes }} Me gusta</strong></p>
  <p class="footer"><strong>{{ post.username }}</strong> {{ post.description }}</p>
  <p class="footer">{{ post.date }}</p>
  <p class="footer">{{ post.comments.length }} comentarios</p>
</ion-card>



<!--(click)="likePost(post)" (click)="commentPost(post)" -->