<ion-header [translucent]="true">
  <ion-toolbar color="background">
  <ion-buttons slot="secondary">
    <ion-button>
       <img src="assets/Like.svg" alt="Heart Icon" style="height: 24px;" />
    </ion-button>
    <ion-button>
    <img src="assets/Messenger.svg" alt="Search Icon" style="height: 24px;" />
    </ion-button>
  </ion-buttons>
  
  <ion-title class="logo"> <img src="assets/icon/instagram-logo.png" alt="Instagram Logo" height="40px" /></ion-title>
</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-item-publicacion></app-item-publicacion>
</ion-content>
