.logo{
    margin-top: 10px;
}


ion-header {
    --box-shadow: none !important;
    --border-width: 0 !important;
    box-shadow: none !important;
 background: var(--background);
}


ion-button {
    --ripple-color: transparent !important;

}


ion-button {
    --ripple-color: transparent !important;
    --background-hover: transparent !important;

    --background-focused: transparent !important;
   
    --background-activated: transparent !important;

}

ion-header {
    --background: var(--ion-color-background);
}

ion-content{
    --background: var(--ion-color-background);
}